



h1{
    margin-top: 10px;
    margin-right: 25px;
    font-size: 45px;
    color: white;
    font-family:'Georgia';
}

a{
    color: black;
    font-family: 'Georgia';
    font-size: 20px;
}
.wrapper{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}
.one {
  grid-column: 2;
  grid-row: 2;
}
.two { 
  grid-column: 2 ;
  grid-row: 2;
}
.three {
  grid-column: 2;
  grid-row: 2;
}
.four {
  grid-column: 2;
  grid-row: 2;
}
.five {
  grid-column: 2;
  grid-row: 2;
}
.six {
  grid-column: 2;
  grid-row: 2;
}